.book-promo {}
.book-promo__prizes {
  margin-bottom: 0.2em;
}
.book-promo__media {
  img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
  }
}
.book-promo__content {

}
.book-promo__title {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.book-promo__byline {}
