.book-promo {}
.book-promo__prizes {
  margin-bottom: 0.2em;
  -webkit-font-feature-settings: 'tnum' 1;
  font-feature-settings: 'tnum' 1;
}
.book-promo__media {
  img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
  }
}
.book-promo__content {

}
.book-promo__title {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.book-promo__byline {}

.book-promo__year {
  font-size: 0.85em;
}
