.filter-bar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  top: 50px;
  padding: 30px $gutter;
  z-index: 1;
  width: 100%;
  margin-bottom: 1em;
  background: #ffebd9;

  @include mq($from: tablet) {
    align-items: flex-start;
    padding-left: 96px;
    width: 80%;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: static;
  }

  @include mq(largeTablet) {
    padding-left: 51px;
    flex-direction: row-reverse;
    justify-content: center;
  }

  @include mq(document) {
    // flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 1060px;
    padding-left: $gutter * 0.75;
    padding-right: $gutter * 0.75;
  }

  // scss-lint:disable ImportantRule
  .no-js & {
    display: none !important;
  }
  // scss-lint:enable ImportantRule
}
