.filter-form {
  @include mq(largeTablet) {
    flex-basis: 330px;
    margin: 0 20px;
  }
}
.filter-form__inner {
  display: flex;
  align-items: center;
}
.filter-form__label {
  margin-right: 10px;
}
.filter-form__select {
  border-radius: 2px;
  min-width: 100px;
  flex-grow: 1;
  flex-shrink: 1;

  // Reposition background and prevent text from appearing above it
  background-size: 18px 18px;
  background-origin: padding-box;
  background-position: 98% center;

  // Normalize height and size with the text fields
  padding-top: 5px;
  padding-bottom: 4px;

  @include mq(largeTablet) {
    width: 180px;
  }

  @include mq(document) {
    width: 250px;
  }
}
