.search-form {
  margin-bottom: 12px;

  @include mq(tablet) {
    width: 60%;
    max-width: 310px;
  }
}
.search-form__inner {
  position: relative;
}

// Tripe class name, to override Origami's specificity
.search-form__field.search-form__field.search-form__field {
  padding: 5.5px 0px 4.55px 36px;
  width: 244px;

  @include mq(largeTablet) {
    width: 162px;
    margin-left: 100px;
  }

  @include mq(document) {
    width: 200px;
    margin-left: 0px;
  }
}
.search-form__submit {
  position: absolute;
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  width: 32px;
  height: 29px;
  top: 2px;
  left: 3px;
  background: white
    url("//build.origami.ft.com/v2/files/o-ft-icons@2.2.3/svg/search.svg") 50%
    50% no-repeat;
  background-size: 22px 22px;
  color: white;
  font-size: 1px;
  opacity: 0.3;
  transition: 0.2s opacity ease-in;

  &:hover,
  &:focus,
  .search-form__field:focus + & {
    opacity: 8;
  }

  @include mq($from: largeTablet) {
    left: 100px;
  }

  @include mq($from: document) {
    left: 3px;
  }
}
