.top-bar {
  height: 50px - 15px - 1px; // height - padding - border, because IE7 doesn't support box-sizing
  background: transparent; // Not in Origami's Palette
  position: relative;
  padding: 15px 0 0;
  border-bottom: 1px solid oColorsByName(black-20);
}
.top-bar__action {
  display: none;
}
