// Code inside `@if $is-oldie {}` will compile inside oldie.css
$is-oldie: false !default;

// Same thing but with mq()
$mq-breakpoints: (
  mobile:          320px,
  mobileLandscape: 480px,
  tablet:          620px,
  document:        980px
);

$gutter: 20px;

$text-sizes: (
  tinier:  12px,
  tiny:    14px,
  smaller: 15px,
  small:   16px
);

$font-sans: 'MetricWeb', sans-serif;
$font-serif: 'FinancierTextWeb', serif;
$font-headline: 'FinancierDisplayWeb', serif;
