$system-code: "ig-projects";

@import "origami-settings";
@import "@financial-times/math";
@import "@financial-times/o-grid/main.scss";
@import "@financial-times/o-forms/main.scss";
@import "@financial-times/o-fonts/main.scss";
@import "@financial-times/o-colors/main.scss";
@import "@financial-times/o-footer/main.scss";

@include oFonts(
  $opts: (
    "recommended": true,
  )
);

@include oFooter(
  $opts: (
    "themes": (
      "light",
    ),
    "matrix": true,
  )
);

@import "origami-overrides/o-footer";
@import "origami-overrides/o-forms";

@import "var";
@import "mixins";

@import "@financial-times/sass-mq";

img {
  display: block;
  max-width: 100%;
}

@import "base/normalize";
@import "base/links";
@import "base/layout";
@import "base/typography";

@import "components/badge";
@import "components/book";
@import "components/browsebox";
@import "components/content-block";
@import "components/filter-bar";
@import "components/filter-form";
@import "components/ft-logo";
@import "components/meta";
@import "components/onward-journey";
@import "components/book-promo";
@import "components/search-form";
@import "components/shelf";
@import "components/subnavigation";
@import "components/top-bar";
@import "components/topic";
@import "components/winners";

@import "trumps/clear";
@import "trumps/fauxlink";
@import "trumps/text";
@import "trumps/lists";
@import "trumps/visuallyhidden";

@import "vendor/tipuedrop";
